target/
logs/
*.sc

# intellij IDEA project files
*.iml
.idea/

# Eclipse project files
.classpath
.externalToolBuilders
.project
.settings/

# Windows stuff
Thumbs.db

# Mac Stuff
*.DS_Store

# Eclipse
/.target
/bin
/.cache
